NODE_ENV=("test","dev","prod")
PG_HOST=(nome do container do postgres)
PG_PORT=(porta do container do postgres)
PG_USER=(usuário do bd)
PG_PASSWORD=(senha do bd)
PG_DATABASE=(nome do bd)
DATABASE_CONNECTION_STRING=(string de conexao do bd. caso seja definida, nao precisa definir host,port,user,password,database separadamente)
SENHA_ADMIN=(senha usada para ver pagina de aprovacao de intencoes)
JWT_SECRET=(chave de assinatura dos tokens jwt)